.footer{
    margin-top: 20px;
    background: rgb(41, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        .img{
            height:20px;
            padding:10px;
        }
    }
    .right{
        flex-grow: 1;
        color:grey;
        font-size: 12px;
    }
}